@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

html, body{
    font-size: 16px;
}

*{
    box-sizing: border-box;
}

// h1, .h1{ font-size: 2.5em;   }
// h2, .h2{ font-size: 2.25em;  }
// h3, .h3{ font-size: 2.0em;   }
// h4, .h4{ font-size: 1.75em;  }
// h5, .h5{ font-size: 1.5em;   }
// h6, .h6{ font-size: 1.25em;  }

.thin{ font-weight: 100; }
.light{ font-weight: 300; }
.regular{ font-weight: 400; }
.medium{ font-weight: 500; }
.bold{ font-weight: 700; }
.black{ font-weight: 900; }


